/.vs
/Library
/UIFrame.sln
/UIFrame.userprefs
/Assembly-CSharp.csproj
/obj
/Temp
/BlueUIFrame.sln
/BlueUIFrame.userprefs
/BlueUIFrame.csproj
/BlueUIFrame.sln.DotSettings.user
/BlueUIFrame.Editor.csproj
